FirstApi/bin/Debug/net8.0/FirstApi.dll
FirstApi/bin/Debug/net8.0/FirstApi.exe
FirstApi/bin/Debug/net8.0/FirstApi.pdb
FirstApi/obj/Debug/net8.0/apphost.exe
FirstApi/obj/Debug/net8.0/FirstApi.AssemblyInfo.cs
FirstApi/obj/Debug/net8.0/FirstApi.AssemblyInfoInputs.cache
FirstApi/obj/Debug/net8.0/FirstApi.dll
FirstApi/obj/Debug/net8.0/FirstApi.pdb
FirstApi/obj/Debug/net8.0/FirstApi.sourcelink.json
FirstApi/obj/Debug/net8.0/ref/FirstApi.dll
FirstApi/obj/Debug/net8.0/refint/FirstApi.dll
